
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-loading:before { content: "\e64f"; }
.icon-search:before { content: "\e65c"; }
.icon-location:before { content: "\e651"; }
.icon-roundcheck:before { content: "\e657"; }
.icon-check:before { content: "\e645"; }
.icon-edit:before { content: "\e649"; }
.icon-emoji:before { content: "\e64a"; }
.icon-close:before { content: "\e646"; }
.icon-favor:before { content: "\e64c"; }
.icon-favorfill:before { content: "\e64b"; }
.icon-locationfill:before { content: "\e650"; }
.icon-phone:before { content: "\e652"; }
.icon-roundcheckfill:before { content: "\e656"; }
.icon-roundclosefill:before { content: "\e658"; }
.icon-roundclose:before { content: "\e659"; }
.icon-roundrightfill:before { content: "\e65a"; }
.icon-roundright:before { content: "\e65b"; }
.icon-timefill:before { content: "\e65e"; }
.icon-time:before { content: "\e65f"; }
.icon-unfold:before { content: "\e661"; }
.icon-warnfill:before { content: "\e662"; }
.icon-warn:before { content: "\e663"; }
.icon-camerafill:before { content: "\e664"; }
.icon-camera:before { content: "\e665"; }
.icon-commentfill:before { content: "\e666"; }
.icon-comment:before { content: "\e667"; }
.icon-likefill:before { content: "\e668"; }
.icon-like:before { content: "\e669"; }
.icon-order:before { content: "\e66c"; }
.icon-tag:before { content: "\e670"; }
.icon-deliver:before { content: "\e671"; }
.icon-evaluate:before { content: "\e672"; }
.icon-pay:before { content: "\e673"; }
.icon-shop:before { content: "\e676"; }
.icon-back:before { content: "\e679"; }
.icon-myfill:before { content: "\e685"; }
.icon-my:before { content: "\e686"; }
.icon-more:before { content: "\e684"; }
.icon-questionfill:before { content: "\e690"; }
.icon-question:before { content: "\e691"; }
.icon-right:before { content: "\e6a3"; }
.icon-pullup:before { content: "\e6a0"; }
.icon-top:before { content: "\e69e"; }
.icon-pulldown:before { content: "\e69f"; }
.icon-refresh:before { content: "\e6a4"; }
.icon-moreandroid:before { content: "\e6a5"; }
.icon-delete:before { content: "\e6b4"; }
.icon-cart:before { content: "\e6af"; }
.icon-cartfill:before { content: "\e6b9"; }
.icon-message:before { content: "\e6bc"; }
.icon-lock:before { content: "\e6c0"; }
.icon-weibo:before { content: "\e6c4"; }
.icon-roundaddfill:before { content: "\e6d8"; }
.icon-roundadd:before { content: "\e6d9"; }
.icon-add:before { content: "\e6da"; }
.icon-fold:before { content: "\e6de"; }
.icon-friendfavor:before { content: "\e6f1"; }
.icon-share:before { content: "\e6f3"; }
.icon-searchlist:before { content: "\e6fe"; }
.icon-sort:before { content: "\e700"; }
.icon-tagfill:before { content: "\e66f"; }
.icon-info:before { content: "\e6e5"; }
.icon-infofill:before { content: "\e6e4"; }
.icon-set:before { content: "\e6ae"; }
.icon-view:before { content: "\e7e6"; }
.icon-view1:before { content: "\e652"; }
