body{
	text-align: center;
	background: #f3f3f3;
	overflow: hidden;
}
/*头部 navbar*/
header,#detail_header
{
	position:fixed;
	z-index: 100;
	top:0;
	left:0;
	height:50px;
	width:100%;
	background:#fff;
	border-bottom: 1px solid #ddd;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	  	 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}
	header.show_left {
	-webkit-transform: translateX(200px);.
	   -moz-transform: translateX(200px);
		 -o-transform: translateX(200px);
			transform: translateX(200px);
	}
	header.show_right {
	-webkit-transform: translateX(-200px);
	   -moz-transform: translateX(-200px);
		 -o-transform: translateX(-200px);
			transform: translateX(-200px);
	}

	header .roundNav{
		position:absolute; 
		z-index:3; 
		top:4px; 
		left:15px;
		width:40px;
		height:40px; 				
		-webkit-transition: all ease .5s; 
		   -moz-transition: all ease .5s; 
			 -o-transition: all ease .5s;
				transition: all ease .5s; 
		cursor: pointer;
	}
		header .roundNav .navIcon{
			position: absolute; 
			top:19px;
			left:10px;
			height:2px; 
			width:18px;	
			background: #666; 			
		}
		header .roundNav .navIcon:before,
		header .roundNav .navIcon:after{		
			position:absolute;
			top:0;
			right:0;
			width:100%;
			height:100%; 
			background: #666;	
			content:""; 
			-webkit-transition: all ease .5s; 
			   -moz-transition: all ease .5s; 
				 -o-transition: all ease .5s;
					transition: all ease .5s; 	
			-webkit-transform: translateY(5px); 
			   -moz-transform: translateY(5px); 
				 -o-transform: translateY(5px); 
					transform: translateY(5px); 		 
			}
		header .roundNav .navIcon:before{
			 
			-webkit-transform:translateY(-5px); 
			   -moz-transform:translateY(-5px);
				 -o-transform:translateY(-5px); 
					transform:translateY(-5px);
			}
	
		header .open.roundNav .navIcon{		
			background:#fff; 
		}
		header .open.roundNav .navIcon:before {
			-webkit-transform:rotate(-45deg) translateY(0px); 
			   -moz-transform:rotate(-45deg) translateY(0px);
				 -o-transform:rotate(-45deg) translateY(0px);
					transform:rotate(-45deg) translateY(0px); 
			background: #DE5879;

		}
		.open.roundNav .navIcon:after{
			-webkit-transform:rotate(45deg) translateY(0px); 
			   -moz-transform:rotate(45deg) translateY(0px);
				 -o-transform:rotate(45deg) translateY(0px);
					transform:rotate(45deg) translateY(0px); 
			background: #DE5879;
		}
	
	header #logo
	{
		position: absolute;
		left:50%;
		top:8px;
		width:103px;
		
		-webkit-transform: translateX(-50%);
		   -moz-transform: translateX(-50%);
		   	 -o-transform: translateX(-50%);
		   	 	transform: translateX(-50%);
	}
	header .user_panel{
		position:absolute;
		top:4px;
		right:15px;
		width:40px;
		height:40px;
		line-height: 40px;	
	}
	header #user_btn{
		cursor:pointer;
	}
	header #user_btn:active{
		background: rgba(255,255,255,0.1);
	}
	header #user_btn.open .iconfont{
		color:#DE5879;
	}
	header .iconfont
	{
		font-size: 23px;
		color:#666;
	}

/*主内容区域*/
#main,#details,#web_viewer{
	position: absolute;
	z-index:10;
	top:0px;
	width:100%;
	height:100%;
	background: #f3f3f3;
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling:touch;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	  	 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}
#main{
	z-index:80;
	box-shadow: 0px  8px 15px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 8px 15px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px  8px 15px rgba(0,0,0,0.2);
	-o-box-shadow: 0px  8px 15px rgba(0,0,0,0.2);
}
	#overlay{
		position: fixed;
		top:0;
		right:0;
		z-index:90;
		display:none;
		width:100%;
		height:100%;
		background: rgba(0,0,0,0.0);
		-webkit-transition: all 0.5s ease;
		   -moz-transition: all 0.5s ease;
		  	 -o-transition: all 0.5s ease;
				transition: all 0.5s ease;
	}

	#main_panel{
		margin-top:56px;
	}

	#main.show_left ,#overlay.show_left{
		-webkit-transform: translateX(200px);
		   -moz-transform: translateX(200px);
			 -o-transform: translateX(200px);
				transform: translateX(200px);
		overflow: hidden;
		display: block;
	}
	#main.show_right,#overlay.show_right{
		-webkit-transform: translateX(-200px);
		   -moz-transform: translateX(-200px);
			 -o-transform: translateX(-200px);
				transform: translateX(-200px);
		overflow: hidden;
		display: block;
	}

#main.showDetail,header.showDetail{
	-webkit-transform: translateX(-100%);
	   -moz-transform: translateX(-100%);
		 -o-transform: translateX(-100%);
			transform: translateX(-100%);
}

/*内容列表*/	
.content_list {
	padding:10px 0px;
}
	.content_list li{
		clear:both;
		text-align: left;
		padding:15px;	
		border-bottom:1px solid #ddd;
	}
	.content_list li:active{
		background: #e6e6e6;
		box-shadow: 0px 3px 10px rgba(0,0,0,0.3) inset;
		-moz-box-shadow: 0px 3px 10px rgba(0,0,0,0.3) inset;
		-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.2) inset;
		-o-box-shadow: 0px 3px 10px rgba(0,0,0,0.3) inset;
	}
	.content_list .imgBox{
		float:left;
		margin-right:5%;
		width:43%;
		max-width: 280px;
		height:auto;
	}
		.content_list .imgBox img{
			width:100%;
			height:auto;
		}
	.content_list h3{
		font-size:18px;
		color:#666;
		margin-bottom:10px;
	}
	.listMeta{
		font-size: 14px;
		color:#ccc;
	}
	.listMeta span{
		padding:0px 5px;
	}

/*详情页*/
#detail_header,#details{	
}
#detail_header.showDetail,#details.showDetail{
	display:block;
	z-index:70;
}
#detail_header.showDetail{
	z-index:75;
}
#details{
	
}
#details .listMeta{margin:15px 0px;}
#tags{
	margin:10px 3%;
}
	#tags a{
		display: inline-block;
		margin:5px 5px;
		padding:3px 12px;
		background: #ccc;
		color:#666;
	}

#details img{
	display: block;
	max-width: 100%;
	height:auto;
	margin:0 auto; 
	margin-bottom:15px;
}
	#details .aCover img{
		width: 100%;
		max-width: 100%;
		margin:15px auto;
		margin-top:-20px;
	}
	#detail_co{
		margin-top: 56px;
	}
#post_content{
	
}
	#post_content.shareArticle{
		text-align: left;
		padding:10px 20px 100px 20px;
		font-size: 16px;
		line-height: 1.8em;
		color:#444;
	}
	#post_content.shareArticle p{
		margin-bottom:0.6em;
	}
	#post_content.shareArticle h2{
		font-size: 2em;
		line-height: 1.2em;
  		margin: 0.6em 0px;
	}
	#post_content.shareArticle h3{
		font-size:1.8em;
		line-height: 1.2em;
  		margin: 0.6em 0px;
	}
	#post_content.shareArticle h4{
		font-size: 1.5em;
		line-height: 1.2em;
 		margin: 0.6em 0px;
	}


#detail_header{
	font-size: 20px;
	position: absolute;
	z-index: 20;
	color:#666;
}
	#detail_header .header_btn{
		position:absolute;
		top:3px;
		right:15px;
		width:40px;
		height:40px;
		line-height: 40px;	
		
	}
	#detail_header .header_btn .iconfont{
		font-size:20px;
	}
	#detail_header .header_btn:active{
		background: rgba(255,255,255,0.1);
	}
	#detail_header .header_btn#back_btn
	{
		left:15px;
	}
	#detail_header #detail_title{
		padding:0px 90px;
		height:56px;
		overflow: hidden;
		text-align: center;
		font-size: 18px;
		line-height: 56px;;
	}

/**/
#detail_toolbar{
	position:fixed;
	z-index: 100;
	left:0;
	bottom:0;
	width:100%;
	height:50px;
	overflow: hidden;
	background:#f6f6f6;
	border-top:1px solid #dfdfdf;
	line-height: 50px;
	
	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		  -o-transition: all 0.5s ease;
			 transition: all 0.5s ease;
	-webkit-transform: translateY(56px);
	   -moz-transform: translateY(56px);
		 -o-transform: translateY(56px);
			transform: translateY(56px);
}
	#detail_toolbar.showDetail{
		-webkit-transform: translateY(0px);
	   	   -moz-transform: translateY(0px);
		 	 -o-transform: translateY(0px);
				transform: translateY(0px);
	}
	#detail_toolbar a{
		display: block;
		float:left;
		width:33%;
		height:50px;
		border-right:1px solid #dfdfdf;
		text-align: center;
		font-size:16px;
		color:#999;
		text-decoration: none;
	}
	#detail_toolbar a.hidden{
		display: none;
	}
	#detail_toolbar a:active{
		background: #ccc;
	}
	#detail_toolbar a.harfWidth{
		width:49.5%;
	}
	#detail_toolbar a#comment_btn{
		border:0;
	}
	#detail_toolbar .iconfont{
		color:#aaa;
		padding-right:8px;
		font-size: 20px;
	}

/*隐藏的边栏*/
.sider_content{
	position: fixed;
	z-index: 60;
	top:0;
	display: none;
	width:200px;
	height:100%;
	background:#dfdfdf;	
}
	.sider_content.shown{
		display: block;
	}

#right_side {
	right:0;
	padding-top:10%;
}
	
	#login input{
		height: 40px;
	 	width: 70%;
		line-height: 40px;
		border: 1px solid #d0d0d0;
		font-size: 14px;
		padding: 0px 5%;
		color: #666;
		margin: 10px 10%;
		background: #fff;
	}
	#login label{
		float: left;
		margin-left: 10%;
		color: #999;
		line-height: 1em;
		font-size: 14px;
	}
	#login #login_btn{
		text-align: center;
		background:#999;
		color:#fff;
		border:0;
		width:80%;
	}
	#login #error{
		width: 70%;
		margin: 20px 10%;
		background: rgba(255,0,0,0.2);
		padding: 10px 5%;
		color: #333;
		border: 1px solid rgba(255,0,0,0.3);
	}

	#user_nav.hidden,
	#login #error.hidden,
	#login.hidden{
		display: none;
	}
	#user_nav a{
		display: block;
		height:50px;
		padding:0px 15px;
		line-height: 50px;
		font-size: 18px;
		color:#666;
		text-align: left;
		text-decoration: none;
		border-bottom:1px solid #d0d0d0;
		transition:all 0.5s ease;
		-o-transition:all 0.5s ease;
		-moz-transition:all 0.5s ease;
		-webkit-transition:all 0.5s ease;
	}
	#user_nav a.current{
		border-left:8px solid #DE5879;
		background:#fff;
		border-bottom: 0px;
	}
	#user_nav a:hover{
		background: #d0d0d0;
	}
	#user_nav .iconfont{
		font-size: 24px;
		padding-right:15px;
		font-weight: 100;
		color: #999;
	}
	#user_nav a.current .iconfont{
		color:#DE5879;
	}

	#user_nav img{
		width:70px;
		height:70px;
		border-radius: 10px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
		margin-bottom:10px;
	}

	#user_nav h4{
		font-size: 20px;
		color:#666;
		margin-bottom: 20px;
	}


/*左边栏*/

#left_side{}
	#left_side .main_menu a{
		display: block;
		height:50px;
		padding:0px 15px;
		line-height: 50px;
		font-size: 18px;
		color:#666;
		text-align: left;
		text-decoration: none;
		border-bottom:1px solid #d0d0d0;
		transition:all 0.5s ease;
		-o-transition:all 0.5s ease;
		-moz-transition:all 0.5s ease;
		-webkit-transition:all 0.5s ease;
	}
		#left_side .main_menu a.current{
			border-left:8px solid #DE5879;
			background:#fff;
			border-bottom: 0px;
		}
		#left_side .main_menu a:hover{
			background: #d0d0d0;
		}
		#left_side .main_menu .iconfont{
			font-size: 24px;
			padding-right:15px;
			font-weight: 100;
			color: #999;
		}
		#left_side .main_menu a.current .iconfont{
			color:#DE5879;
		}
	#left_side input{
		width:70%;
		height:40px;
		border:1px solid #d0d0d0;
		font-size:20px;
		line-height: 50px;
		padding:0px 5%;
		margin:20px 10%;
	}

/*外部网页浏览其 webview*/
#web_viewer{
	z-index: 200;
	overflow: hidden;
	display:none;
	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		  -o-transition: all 0.5s ease;
			 transition: all 0.5s ease;
	-webkit-transform: translateY(100%);
	   -moz-transform: translateY(100%);
		 -o-transform: translateY(100%);
			transform: translateY(100%);

}
	#web_viewer.shown{
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
		 -o-transform: translateY(0);
			transform: translateY(0);
	}
	#web_viewer iframe{
		width:100%;
		height:100%;
		overflow-y:auto;
		-webkit-overflow-scroll:touch;
		border:0;
		margin-top: 50px;
	}
	#web_viewer #close_btn{
		position: fixed;
		z-index: 210;
		top:0;
		left:0;
		width:100%;
		height:50px;
		text-align: center;
		line-height: 50px;
		color:#999;
		background: #efefef;
	}
	#web_viewer #close_btn:active{
	background: #ccc;
	}
	#web_viewer #close_btn .iconfont{
		font-size: 40px;
	}
/*加载动画*/
.loading {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin: 60px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

.loading.hidden{
	display: none;
}
 
@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
 
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}